.Layout-header {
  color: #FFFFFF;
  background-color: #1d4769;
  padding: 10px;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
}

.Layout-body {
  background-color: #1d4769;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.Layout-input {
  background-color: #ffffff;
  font-size: 22px;
  color: #000000;
  padding-left: 10px;
  font-family: 'Courier New', Courier, monospace;
  min-height: 30px;
  min-width: 100%;
}

.Layout-controller {
  background-color: #1d4769;
  padding-left: 10px;
  padding-top: 10px;

}

.string {
  font-size: 40px;
  color: #ffffff;
  margin-left: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.input {
  font-size: 20px;
  color: #000000;
  margin-left: 15px;
  margin-block-start: 5px;
  margin-block-end: 5px;
  font-family: 'Courier New', Courier, monospace;
}

.enterbutton {
  font-size: 22px;
  color: #ffffff;
  background-color:#0bc433;
  margin-left: 15px;
  font-family: 'Courier New', Courier, monospace;
}

.clearbutton {
  font-size: 22px;
  color: #ffffff;
  background-color:#f3331a;
  margin-left: 15px;
  font-family: 'Courier New', Courier, monospace;
}

.nextbutton {
  font-size: 22px;
  color: #ffffff;
  background-color:#0d9abd;
  font-family: 'Courier New', Courier, monospace;
  height: 40px;
  width: 140px;
}

.autoplaybutton {
  font-size: 22px;
  color: #ffffff;
  background-color:#0d9abd;
  margin-left: 15px;
  font-family: 'Courier New', Courier, monospace;
  height: 40px;
  width: 140px;
}

.link {
  color: #61dafb;
}

img {
  margin-top: 15px;
  max-height: 750px;
  max-width: 100%;
}
