h5 {
  color: #eeeeee;
}

.Header > Button {
  margin: 2px;
  font-size: small;
}

.Layout-body {
  background-color: #1d4769;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.Layout-input {
  background-color: #ffffff;
  font-size: 22px;
  color: #000000;
  min-height: 30px;
  min-width: 100%;
}

.Layout-controller {
  background-color: #1d4769;
  padding-left: 10px;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.Layout-buttonzone {
  padding-top: 10px;
  margin-right: 100px;
}

.string {
  font-size: 25px;
  color: #ffffff;
  margin-top: 12px;
  font-family: 'Courier New', Courier, monospace;
}

.Input-group {
  padding: 10px;
}

.Input-group > input {
  font-family: 'Courier New', Courier, monospace;
  color: #000000;
  font-weight: bold;
  font-size: large;
}

.Layout-buttonzone > Button {
  margin-right: 5px;
  font-weight: bold;
  width: 120px;
  height: 40px;
}

.link {
  color: #61dafb;
}

img {
  margin-top: 15px;
  max-height: 750px;
  max-width: 100%;
}

.help {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
}

.help > Button {
  height: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: small;
  font-weight: bold;
}

.Layout-all {
  background-color: #1d4769;
  height: 98vh;
}